html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,del,dfn,em,img,ins,kbd,q,samp,small,strong,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,table,tbody,tfoot,thead,tr,th,td,article,aside,footer,header,nav,section {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent
}

body {
    -webkit-text-size-adjust: none;
    font-family: sans-serif;
    background: #e5f4f9;
}

h1 {
    font-size: 33px;
    margin: 50px 0 15px;
    text-align: center;
    color: #212121
}

h2 {
    font-size: 14px;
    font-weight: bold;
    color: #3c3c3c;
    margin: 20px 10px 10px
}

small {
    margin: 0 10px 30px;
    display: block;
    font-size: 12px
}

a {
    font-size: 12px;
    color: #3c3c3c;
    text-decoration: none;
}

img {
    border: 0
}

ol,ul,li {
    list-style-type: none
}

#intro{
    background: #313639;
    position: relative;
    color: #fff;
    padding: 16px 0;
}

.clearfix{
    zoom:1;
}
.clearfix:after{
    display: block;
    clear: both;
    content: "";
}

.title{
    line-height: 16px;
    font-size: 40px;
    color: #F8BA0B;
    text-align: center;
    padding: 30px 0 60px;
}

.trigle{
    position: absolute;
    bottom: -69px;
    z-index: 2;
    width: 100%;
    height: 138px;
    background: url('../imgs/background.png');
    background-size: 100% 100%;
}

.workList{
    margin: 100px auto 0;
    width: 980px;
}

.workList li{
    float: left;
    margin-right: 3%;
    margin-bottom: 30px;
    width: 30.3%;
    -webkit-box-shadow: 0 5px 10px 0 rgba(0,0,0,0.1);
    -moz-box-shadow: 0 5px 10px 0 rgba(0,0,0,0.1);
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.1);
    background: #fff;
}
.workList li a{
    display: block;
}
.workList li img{
    width: 100%;
    height: 250px;
}
.workList p{
    font-size: 14px;
    max-height: 40px;
    overflow: hidden;
    color: #07111b;
    line-height: 30px;
    padding-top:10px;
    padding-left: 10px;
    font-weight: bold;
}
.workList span{
    color: #93999f;
    font-size: 12px;
    overflow: hidden;
    line-height: 20px;
    display: block;
    padding-left: 10px;
}
