<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Best Friends</title>
    <link rel="stylesheet" type="text/css" href="../css/friends/main.min.css">
</head>
<body>
    <section id="container">
        <section class="page1">
            <div id="bubble"></div>
            <div id="sun"></div>
            <div id="sunshine">
                <div class="sunshine first"></div>
                <div class="sunshine second"></div>
                <div class="sunshine third"></div>
            </div>
            <div id="butterfly"></div>
            <div class="monolog1">
            </div>
        </section>
        <section class="page2">
            <div class="cloudArea">
                <div class="cloud cloud1"></div>
                <div class="cloud cloud2"></div>
                <div class="cloud cloud3"></div>
            </div>
            <div id="woodmill">
                <div class="part1"></div>
                <div class="part2"></div>
            </div>
            <div id="bird"></div>
            <div class="monolog2">
            </div>
        </section>
        <section class="page3">
            <div class="monolog3">
            </div>
            <div class="monolog4">
            </div>
            <canvas id="snow" style="position:absolute;z-index:99;"></canvas>
        </section>
        <div id="people">
            <div id="girl1" class="girl1"></div>
            <div id="girl2" class="girl2"></div>
        </div>
        <div id="btn"></div>
    </section>
    <script type="text/javascript" src="../js/jquery-1.10.1.min.js"></script>
    <script type="text/javascript" src="../js/jquery.transi.js"></script>
    <script type="text/javascript" src="../js/friends/main.min.js"></script>
</body>
</html>