<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <title>关于我们</title>
    <link rel="stylesheet" type="text/css" href="../../css/m300/style.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/swiper.min.css"/>
    <script src="../../js/pageScale.js"></script>
</head>
<body>
    <div class="top_header">
        <header>
            <div class="logo"><a href="#"><img src="../../imgs/m300/logo.png" alt=""></a></div>
            <div class="category menu"><img src="../../imgs/m300/menu.png"/></div>
        </header>
        <div class="top_nav">
            <section class="nav">
                <nav>
                    <ul>
                        <li><a href="index.html">首页</a></li>
                        <li><a href="caseList.html">精品案例</a></li>
                        <li><a href="about.html">关于企业</a></li>
                        <li><a href="news.html">资讯中心</a></li>
                    </ul>
                </nav>
            </section>
        </div>
    </div>
    <section class="about">
        <div class="swiper-container" id="swiper_about">
            <div class="swiper-wrapper">
                <div class="swiper-slide" style="height:500px;">
                    <a href="###"><img src="../../imgs/m300/back.png" /></a>
                    <span class="arrow-down"></span>
                </div>
                <div class="swiper-slide" style="height:500px;">
                    <a href="###"><img src="../../imgs/m300/mobile-banner11.jpg" /></a>
                    <span class="arrow-down"></span>
                </div>
                <div class="swiper-slide" style="height:500px;">
                    <a href="###"><img src="../../imgs/m300/5672234bb77a9.png" /></a>
                    <span class="arrow-down"></span>
                </div>
            </div>
        </div>
    </section>
    <script type="text/javascript" src="../../js/jquery-1.10.1.min.js"></script>
    <script type="text/javascript" src="../../js/m300/all.min.js"></script>
    <script type="text/javascript" src="../../js/swiper.min.js"></script>
    <script type="text/javascript">
        var mySwiper = new Swiper('#swiper_about',{
            paginationClickable: true,
            slidesPerView: 1,
            direction: 'vertical',
            paginationClickable: true
        })  
    </script>
</body>
</html>