<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <title>首页</title>
    <link rel="stylesheet" type="text/css" href="../../css/m300/style.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/swiper.min.css"/>
    <script src="../../js/pageScale.js"></script>
</head>
<body>
    <div class="top_header">
        <header>
            <div class="logo"><a href="#"><img src="../../imgs/m300/logo.png" alt=""></a></div>
            <div class="category menu"><img src="../../imgs/m300/menu.png"/></div>
        </header>
        <div class="top_nav">
            <section class="nav">
                <nav>
                    <ul>
                        <li><a href="index.html">首页</a></li>
                        <li><a href="caseList.html">精品案例</a></li>
                        <li><a href="about.html">关于企业</a></li>
                        <li><a href="news.html">资讯中心</a></li>
                    </ul>
                </nav>
            </section>
        </div>
    </div>
    <section class="content" id="wraper">
        <div class="contBox">
            <div class="banner">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <a href="###"><img src="../../imgs/m300/mobile-banner11.jpg" /></a>
                        </div>
                        <div class="swiper-slide">
                            <a href="###"><img src="../../imgs/m300/mobile-banner11.jpg" /></a>
                        </div>
                        <div class="swiper-slide">
                            <a href="###"><img src="../../imgs/m300/mobile-banner11.jpg" /></a>
                        </div>
                        <div class="swiper-slide">
                            <a href="###"><img src="../../imgs/m300/mobile-banner11.jpg" /></a>
                        </div>
                        <div class="swiper-slide">
                            <a href="###"><img src="../../imgs/m300/mobile-banner11.jpg" /></a>
                        </div>
                        <div class="swiper-slide">
                            <a href="###"><img src="../../imgs/m300/mobile-banner11.jpg" /></a>
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
            <div class="part">
                <div class="title">
                    <span>建站服务</span>
                    <a href="#">More</a>
                </div>
                <ul>
                    <li>
                        <a href="#">
                            <img src="../../imgs/m300/part2-img1.png"/>
                            <p>全网建站服务</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="../../imgs/m300/part2-img1.png"/>
                            <p>全网建站服务</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="../../imgs/m300/part2-img1.png"/>
                            <p>全网建站服务</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="../../imgs/m300/part2-img1.png"/>
                            <p>全网建站服务</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="../../imgs/m300/part2-img1.png"/>
                            <p>全网建站服务</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="../../imgs/m300/part2-img1.png"/>
                            <p>全网建站服务</p>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="part">
                <div class="title">
                    <span>案例欣赏</span>
                    <a href="caseList.html">More</a>
                </div>
                <ul class="case">
                    <li>
                        <a>
                            <img src="../../imgs/m300/5672234bb77a9.png"/>
                            <p>沈阳故宫博物院</p>
                            <p>行业：公共事业/教育</p>
                        </a>
                    </li>
                    <li>
                        <a>
                            <img src="../../imgs/m300/5672234bb77a9.png"/>
                            <p>沈阳故宫博物院</p>
                            <p>行业：公共事业/教育</p>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="part">
                <div class="title">
                    <span>案例故事</span>
                </div>
                <ul class="story">
                    <li><a href="#"><img src="../../imgs/m300/5672234bb77a9.png"><p>包装行业成功案例</p></a></li>
                    <li><a href="#"><img src="../../imgs/m300/5672234bb77a9.png"><p>包装行业成功案例</p></a></li>
                    <li><a href="#"><img src="../../imgs/m300/5672234bb77a9.png"><p>包装行业成功案例</p></a></li>
                </ul>
            </div>

            <div class="bottom-content" style="background-color: #fff; margin-top: 10px; border-top: 1px solid #ddd;">
                <ul class="hd clearfix">
                    <li class="active"><img src="../../imgs/m300/about1.png" /><span>关于中企</span></li>
                    <li class=""><img src="../../imgs/m300/center1.png" /><span>资讯中心</span></li>
                    <li class="last"><img src="../../imgs/m300/news1.png" /><span>信息讲堂</span></li>
                </ul>
                <div class="bd">
                    <ul class="bd clearfix">
                        <li class="active">
                            <img src="../../imgs/m300/back.png"/>
                        </li>
                        <li class="">
                            <ul class="newsList">
                                <li>
                                        <a href="#">
                                            <h4>中企动力客户服务沙龙：一场心与心的交接</h4>
                                            <p>中企动力各分公司商务代表与中小企业的客户一起分享网站推广与优化，互联网+转变得经营之道。</p>
                                        </a>
                                    </li><li>
                                        <a href="#">
                                            <h4>中企动力17周年 | 我们，在一起</h4>
                                            <p>9月14日，在中企动力总部办公地址数码庄园内，举行了一场有笑有泪更有爱的生日大party——中企动力17周年庆。工作在中企动力总部各个部门的四百多名中企人，丢掉了忙碌工作的压力，将他们的热情、才华、创意以及对中企的爱尽情地释放，共同度过了一个欢乐、美好的下午时光。</p>
                                        </a>
                                    </li><li>
                                        <a href="#">
                                            <h4>中企动力荣获“2016中国IT用户满意品牌”奖</h4>
                                            <p>9月6日，由工信部电子科技情报研究所指导、计世资讯和中国质量协会用户委员会主办的2016中国IT用户满意度大会在北京唐拉雅秀酒店会议厅隆重举行。中企动力受邀出席了此次大会，并荣获“2016中国IT用户满意品牌”奖。</p>
                                        </a>
                                    </li><li>
                                        <a href="#">
                                            <h4>中企动力荣获年度“最佳网络营销服务商”</h4>
                                            <p>8月23日，主题为“跨界互联，智能共享”的2016GIEC第二届全球互联网经济大会暨2016第七届中国电子商务博览会在北京国际会议中心开幕。中企动力受主办方邀请出席了此次大会，并获评2015-2016年度“最佳网络营销服务商”。</p>
                                        </a>
                                    </li>                        </ul>
                        </li>
                        <li class="last">
                            <ul class="newsList">
                                <li>
                                        <a href="#">
                                            <h4>活动运营五步法第四步</h4>
                                            <p>作为一个运营人员，很多时候先是思考活动形式，然后再去思考活动带来的效果。这样的思路往往是不正确的。如何正确思考一个活动？中企动力网站运营专家就来讲讲活动运营的五步，今天讲讲活动方案适时优化。</p>
                                        </a>
                                    </li><li>
                                        <a href="#">
                                            <h4>PHP网站建设的一些问题</h4>
                                            <p>PHP网站建设是时下很常用的web网站开发形式。PHP网站建设有其他的网站开发不一样，PHP网站建设相对于其他网站建设更加具有包容性。PHP网站的执行效率也要高于其他网站。</p>
                                        </a>
                                    </li><li>
                                        <a href="#">
                                            <h4>用户运营黄金法则之以用户为朋</h4>
                                            <p>运营网站建设的人都明白，用户运营是整个运营环节中最重要的一环，也是在整个运营工作中和用户接触最频繁的环节，如何搞定用户，如何让用户嗨起来，是用户运营的核心，今天中企网站建设专家就来讲讲用户运营的黄金法则。</p>
                                        </a>
                                    </li><li>
                                        <a href="#">
                                            <h4>网络直播给我们带来了啥?</h4>
                                            <p>“网络直播”在2016年算是一个新名词，但是到目前为止，这个词语出现的频率是相当高的，而且收视率是蹭蹭的往上涨，今年甚至被称为是“中国网络直播元年”。越来越多的人开始加入到网络直播的行列中，包括各种电商、社交、媒体APP。直播的火爆程度是大家想象不到的，有些大学生做直播，一个月能收入10万-20万元，名人的直播收入更是高出很多。</p>
                                        </a>
                                    </li> </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <div class="scrTop"><img src="../../imgs/m300/top.png"/></div>
    <div class="freebj_box">
        <section class="freebj">
            <div class="free-ask">
                <div class="title"><span>免费报价申请</span></div>
                <p class="txt">申请成功后，将由我们的专属互联网顾问<br>为您预约报价</p>
                <span class="freebj-close"></span>
                <div class="con">
                    <div class="form">
                        <div class="info-block">
                            <form action="#" method="post">
                                <div class="info-item">
                                    <div class="t">公司名称</div>
                                    <input type="text" placeholder="请输入公司名称" name="company" id="company2">
                                </div>
                                <div class="info-item positionR">
                                    <span class="redStar">*</span>
                                    <div class="t">手机号码</div>
                                    <input type="text" placeholder="请输入手机号码" name="mobile" id="mobile2">
                                </div>
                                <div class="info-item info-add positionR">
                                    <span class="redStar">*</span>
                                    <div class="t">所在城市</div>
                                    <div class="add-select">
                                        <select name="province" id="province2" class="gp" >
                                            <option value="0">请选择省份</option>
                                            <option value="北京市">北京市</option></select>
                                            <select name="city" id="citys2" class="gt" >
                                                <option value="0">请选择城市</option></select>
                                                <select name="district" id="district2" class="gd">
                                                    <option value="0">请选择区/县</option>
                                                    <option value="西城区" areacode="110102">西城区</option></select>
                                                </div>
                                            </div>
                                            <div class="info-item">
                                                <div class="t">联系人</div>
                                                <input type="text" placeholder="请输入联系人姓名" name="truename" id="truename2">
                                            </div>
                                            <div class="btn-submit"><input type="submit" class="submit" value="立即提交"></div>
                                        </form></div>
                                    </div>
                                </div>
                            </div>
                        </section>
    </div>
    <div class="bottom_footer">
        <footer>
            <ul>
                <li class="active">
                    <a href="#">
                        <img src="../../imgs/m300/mobile.png"/>
                        <span>电话咨询</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../../imgs/m300/ask.png"/>
                        <span>售前咨询</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../../imgs/m300/price.png"/>
                        <span>免费报价</span>
                    </a>
                </li>
            </ul>
        </footer>
    </div>
    <script type="text/javascript" src="../../js/jquery-1.10.1.min.js"></script>
    <script type="text/javascript" src="../../js/m300/all.min.js"></script>
    <script type="text/javascript" src="../../js/swiper.min.js"></script>
    <script type="text/javascript">
        var mySwiper = new Swiper('.banner .swiper-container',{
            pagination:'.banner .swiper-pagination',
            loop:true,
            grabCursor:true,
            paginationClickable:true,
            autoplay:3000,
            autoplayDisableOnInteraction:false
        })  
    </script>
</body>
</html>