<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <title>资讯中心</title>
    <link rel="stylesheet" type="text/css" href="../../css/m300/style.css"/>
    <script src="../../js/pageScale.js"></script>
</head>
<body>
    <div class="top_header">
        <header>
            <div class="logo"><a href="#"><img src="../../imgs/m300/logo.png" alt=""></a></div>
            <div class="category menu"><img src="../../imgs/m300/menu.png"/></div>
        </header>
        <div class="top_nav">
            <section class="nav">
                <nav>
                    <ul>
                        <li><a href="index.html">首页</a></li>
                        <li><a href="caseList.html">精品案例</a></li>
                        <li><a href="about.html">关于企业</a></li>
                        <li><a href="news.html">资讯中心</a></li>
                    </ul>
                </nav>
            </section>
        </div>
    </div>
    <section class="content" id="wraper">
        <div class="contBox">
            <div class="banner"><img src="../../imgs/m300/mobile-banner11.jpg" alt=""></div>
            <div class="newsBox">
                <div>
                    <ul class="newsList">
                        <li>
                        <a href="#">
                                <dl>
                                    <dt><h4>中企动力客户服务沙龙：一场心与心的交接</h4></dt>
                                    <dd>
                                        <p>中企动力各分公司商务代表与中小企业的客户一起分享网站推广与优化，互联网+转变得经营之道。</p>
                                        <div class="source clearfix"><div class="company">来源：中企动力</div><div class="time">2016-09-30 16:05:08</div></div>
                                    </dd>
                                </dl>
                            </a>
                        <li>
                        <a href="#">
                                <dl>
                                    <dt><h4>中企动力客户服务沙龙：一场心与心的交接</h4></dt>
                                    <dd>
                                        <p>中企动力各分公司商务代表与中小企业的客户一起分享网站推广与优化，互联网+转变得经营之道。</p>
                                        <div class="source clearfix"><div class="company">来源：中企动力</div><div class="time">2016-09-30 16:05:08</div></div>
                                    </dd>
                                </dl>
                            </a>
                        </li>
                        <li>
                        <a href="#">
                                <dl>
                                    <dt><h4>中企动力客户服务沙龙：一场心与心的交接</h4></dt>
                                    <dd>
                                        <p>中企动力各分公司商务代表与中小企业的客户一起分享网站推广与优化，互联网+转变得经营之道。</p>
                                        <div class="source clearfix"><div class="company">来源：中企动力</div><div class="time">2016-09-30 16:05:08</div></div>
                                    </dd>
                                </dl>
                            </a>
                        </li>
                        <li>
                        <a href="#">
                                <dl>
                                    <dt><h4>中企动力客户服务沙龙：一场心与心的交接</h4></dt>
                                    <dd>
                                        <p>中企动力各分公司商务代表与中小企业的客户一起分享网站推广与优化，互联网+转变得经营之道。</p>
                                        <div class="source clearfix"><div class="company">来源：中企动力</div><div class="time">2016-09-30 16:05:08</div></div>
                                    </dd>
                                </dl>
                            </a>
                        </li>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <div class="scrTop"><img src="../../imgs/m300/top.png"/></div>
        <div class="freebj_box">
        <section class="freebj">
            <div class="free-ask">
                <div class="title"><span>免费报价申请</span></div>
                <p class="txt">申请成功后，将由我们的专属互联网顾问<br>为您预约报价</p>
                <span class="freebj-close"></span>
                <div class="con">
                    <div class="form">
                        <div class="info-block">
                            <form action="#" method="post">
                                <div class="info-item">
                                    <div class="t">公司名称</div>
                                    <input type="text" placeholder="请输入公司名称" name="company" id="company2">
                                </div>
                                <div class="info-item positionR">
                                    <span class="redStar">*</span>
                                    <div class="t">手机号码</div>
                                    <input type="text" placeholder="请输入手机号码" name="mobile" id="mobile2">
                                </div>
                                <div class="info-item info-add positionR">
                                    <span class="redStar">*</span>
                                    <div class="t">所在城市</div>
                                    <div class="add-select">
                                        <select name="province" id="province2" class="gp" >
                                            <option value="0">请选择省份</option>
                                            <option value="北京市">北京市</option></select>
                                            <select name="city" id="citys2" class="gt" >
                                                <option value="0">请选择城市</option></select>
                                                <select name="district" id="district2" class="gd">
                                                    <option value="0">请选择区/县</option>
                                                    <option value="西城区" areacode="110102">西城区</option></select>
                                                </div>
                                            </div>
                                            <div class="info-item">
                                                <div class="t">联系人</div>
                                                <input type="text" placeholder="请输入联系人姓名" name="truename" id="truename2">
                                            </div>
                                            <div class="btn-submit"><input type="submit" class="submit" value="立即提交"></div>
                                        </form></div>
                                    </div>
                                </div>
                            </div>
                        </section>
    </div>
    <div class="bottom_footer">
        <footer>
            <ul>
                <li class="active">
                    <a href="#">
                        <img src="../../imgs/m300/mobile.png"/>
                        <span>电话咨询</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../../imgs/m300/ask.png"/>
                        <span>售前咨询</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../../imgs/m300/price.png"/>
                        <span>免费报价</span>
                    </a>
                </li>
            </ul>
        </footer>
    </div>
    <script type="text/javascript" src="../../js/jquery-1.10.1.min.js"></script>
    <script type="text/javascript" src="../../js/m300/all.min.js"></script>
</body>
</html>