<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0,user-scalable=no,maximum-scale=1.0">
  <title>肯德基外卖订餐</title>
  <link rel="stylesheet" type="text/css" href="../../css/baidumap/style.min.css">
</head>
<body>
  <header id="index_title" class="top_title">
    <h1>肯德基订餐</h1>
  </header>

  <div class="page_content">
    <a id="index_top" href="read.html">
      <div class="left">
      </div>
      <div class="right">
        <ul class="clearfix">
          <li>起送  ￥0</li>
          <li>配送  ￥9</li>
          <li>送达  40分钟</li>
        </ul>
        <div class="tip">
          <img src="../../imgs/baidumap/horn.gif"/>
          <span>下单必读：新用户在线支付立减8元</span>
        </div>
      </div>
    </a>

    <ul id="index_tab" class="clearfix">
      <li class="active"><span>商品</span></li>
      <li><span>评价</span></li>
      <li><span>商户详情</span></li>
    </ul>

    <div id="tab_content">
      <div class="content active">
        <div class="food">
          <div class="menu_wrapper" id="iscroll1">
            <ul class="menu">
            </ul>
          </div>
          <div class="all_food" id="iscroll2">
            <dl>
              <!-- <dt>
              热销
            </dt>
            <dd>
              <img src="../../imgs/baidumap/food.png"/>
              <div class="food_explain">
                <h3>二块香辣鸡翅</h3>
                <i>月售68 好评率100%</i>
                <p>￥10</p>
              </div>
              <span class="pause">餐厅休息</span>
              <div class="operation">
                <span class="minus">-</span>
                <span class="price">0</span>
                <span class="add">+</span>
              </div>
            </dd> -->
          </dl>
        </div>
      </div>
      <footer id="index_foot" class="page_footer">
       <div id="cart">
         <img src="../../imgs/baidumap/cart.png"/>
         <span id="finalNum">0</span>
       </div>
       <p id="price">共<span id="all">￥0</span></p>
       <p id="relax">商户休息中，不接受订单</p>
     </footer>
   </div>
   <div class="content common" id="iscroll3">
     <div>
       <section class="clearfix">
         <div  class="score">
           <h3>4.9</h3>
           <p>整体评价</p>
         </div>
         <div class="score_detail">
           <p class="clearfix">
             <label>配送服务</label>
             <span></span>
             <span></span>
             <span></span>
             <span></span>
             <span></span>
             <i>4.9</i>
           </p>
           <p class="clearfix">
             <label>商品质量</label>
             <span></span>
             <span></span>
             <span></span>
             <span></span>
             <span></span>
             <i>4.8</i>
           </p>
         </div>
       </section>
       <article>
         <ul class="all_commons clearfix">
           <li class="active">全部(610)</li>
           <li>好评(598)</li>
           <li>中评(7)</li>
           <li>差评(5)</li>
         </ul>
         <p class="common_check">
           <span></span>
           <span>只显示有文字评论的内容</span>
         </p>
         <ul class="person_common active">
           <!-- <li>
           <img src="../../imgs/baidumap/person.png"/>
           <div class="right">
             <p>
               <span>138***276</span>
               <label>2016-08-01 19:45:18</label>
             </p>
             <p>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              送货速度：110分钟
            </p>
            <p>
             <img src="../../imgs/baidumap/good.png"/></img>老北京鸡肉卷
           </p>
         </div>
       </li> -->
     </ul>
     <div class="person_common">好评！</div>
     <div class="person_common">中评！</div>
     <div class="person_common">差评！</div>
     <p class="loading"><img src="../../imgs/baidumap/load.gif"></p>
   </article>
 </div>
</div>
<div class="content about">
 <p>
   <img src="../../imgs/baidumap/clock.png"/>
   <span>营业时间：10：00-22:00</span>
 </p>
 <p>
   <img src="../../imgs/baidumap/location.png"/>
   <span>北京市西城区车公庄大街</span>
 </p>
 <p>
   <img src="../../imgs/baidumap/tel.png"/>
   <a href="tel:4009208801">4009208801</a>
   <span style="float: right;font-size: 0.5rem;color: #ccc;">></span>
 </p>
 <p>
   <img src="../../imgs/baidumap/horn.png"/>
   <span>欢迎光临肯德基宅急送，专业外送，全程保温，准时送达</span>
 </p>
 <div class="new">
   <img src="../../imgs/baidumap/new.png"/>
   <span>新用户在线支付立减8元</span>
 </div>
</div>
</div>
</div>
<script type="text/javascript" src="../../js/baidumap/iscroll-probe.js"></script>
<script type="text/javascript" src="../../js/baidumap/all.min.js"></script>
</body>
</html>