<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0,user-scalable=no,maximum-scale=1.0">
    <title>点菜必读</title>
    <link rel="stylesheet" type="text/css" href="../../css/baidumap/style.min.css">
</head>
<body>
    <a class="top_title" id="read_title" href="index.html">
        <img src="../../imgs/baidumap//back.png"/>
        <span>点菜必读</span>
    </a>
    <div id="read_me">
        <ul class="list">
            <li class="tip">
                <h2>肯德基宅急送</h2>
                <div class="line1 clearfix">
                    <ul class="star">
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                    <span>4.9</span>
                </div>
                <p class="center">月售：183 营业时间：10:00-22:00</p>
            </li>
            <li class="tip">
                <h2>优惠信息</h2>
                <img src="../../imgs/baidumap//new.png" class="new_user"><span>新用户在线支付立减8元</span>
            </li>
            <li class="tip">
                <h2>商家公告</h2>
                <p>欢迎光临肯德基宅急送，专业外送，全程保温，准时送达！</p>
            </li>
        </ul>
    </div>
    <script type="text/javascript" src="../../js/baidumap/all.min.js"></script>
</body>
</html>